

  h1 {
    color:blue;
    text-align: center;
    font-size:  100px;
    text-decoration: overline;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 10px;
    text-shadow: 5px 8px 3px red;
    font-family:"Pixelify Sans";
    font-style:italic;
    font-size:100px;
    font-weight: bolder;
    


  }

  p{
    text-indent: 70px;
    line-height: 20px;
    white-space: normal;
  }
